{% extends 'temp/admin_home.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title>Manage RTO</title>
</head>
<body>
	<h2 style="color: orange;text-align: center"> RTO </h2>

	<table border="1" class="table table-bordered table-striped">

		<tr>
			<th>Name</th>
			<th>Place</th>
			<th>Gender</th>
			<th>Office Name</th>
			<th>Phone</th>
			<th>Email</th>
			<th>User Name</th>
			<th></th>
		</tr>
        {% for i in x %}
		<tr>
			<td>{{ i.name }}</td>
			<td>{{ i.place }}</td>
			<td>{{ i.gender }}</td>
			<td>{{ i.rto_office_name }}</td>
			<td>{{ i.phone }}</td>
			<td>{{ i.email }}</td>
			<td>{{ i.username }}</td>
			<td>
				<a href="/RTO/edit/{{ i.rto_id }}">Edit</a>
				<a href="/RTO/delete/{{ i.rto_id }}">Delete</a>
			</td>
		</tr>
        {% endfor %}
	</table>

</body>
</html>
{% endblock %}