{% extends 'temp/police_home.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title>Manage Suspicious Activity</title>
</head>
<body>
	<h2>Manage Suspicious Activity</h2>
	<table border="1" class="table table-bordered table-striped">
		<tr>
			<th>Case Number</th>
			<th>Case Details</th>
			<th>Case Date</th>
            <th>Photo</th>
			<th></th>
		</tr>
        {% for i in x %}
		<tr>
			<td>{{ i.case_no }}</td>
			<td>{{ i.case_details }}</td>
			<td>{{ i.case_date }}</td>
            <td><img src="/static/{{ i.vehicle.photo }}" width="150px" height="150px"></td>
			<td>
				<a href="/suspicious_activity/edit/{{ i.suspicious_activity_id }}">Edit</a>
				<a href="/suspicious_activity/delete/{{ i.suspicious_activity_id }}">Delete</a>
			</td>
		</tr>
        {% endfor %}
	</table>

</body>
</html>
{% endblock %}